$tablet-breakpoint: 768px;
$desktop-breakpoint: 1200px;
$font-stack: 'Avenir Next', Arial, sans-serif;
$primary-color: #323232;
$secondary-color: #FFFFFF;
$mobile-margin: 5vw;
$tablet-margin: 3.125vw;
$desktop-margin: 12.5vw;